# Application
public_html/app/plugins/*
!public_html/app/plugins/.gitkeep
!public_html/app/plugins/ninja-forms-style/
!public_html/app/plugins/ninja-forms-campaign-monitor/
public_html/app/mu-plugins/*/
public_html/app/upgrade
public_html/app/uploads/*
!public_html/app/uploads/.gitkeep

# WordPress
public_html/wp
public_html/.htaccess

# WP-CLI
db-sync
sql-dump-*.sql

# Dotenv
.env
.env.*
!.env.example

# Vendor (e.g. Composer)
vendor/*
!vendor/.gitkeep

# Node Package Manager
node_modules

# Vagrant
bin
.vagrant
