/** Slider */
.et_boxed_layout #page-container .home__slider {
  padding: 0;

  @media screen and (min-width: 1118px) {
    .home__slider__image .et_pb_slide_description .et_pb_slide_content {
      height: 230px;
    }
  }

  .et_pb_row {
    padding: 0;
    width: 100%;

    .et_pb_column_1_3 {
      color: $font-color-primary !important;
      margin-right: 0;
      width: 100%;

      @media screen and (min-width: 1118px) { width: 33.333%; }

      .home__slider__description {
        text-align: left;

        @media screen and (min-width: 1118px) {
          padding: 10% 8%;
        }

        h2 {
          color: $font-color-primary !important;
          font-size: 42px;
          font-weight: 300;
          line-height: 1.3em;
          margin-bottom: 0.7em;

          @media screen and (max-width: 1335px) {
            font-size: 32px;
          }
        }

        p {
          color: $font-color-primary !important;
        }

        .et_pb_promo_button {
          margin-top: 20px;
        }
      }
    }

    .et_pb_column_2_3 {
      @media screen and (min-width: 1118px) { width: 66.667%; }

      .et_pb_slide_description {
        padding: 0;
      }
      .et_pb_slider .et_pb_container {
        height: 450px !important;
        max-height: 450px !important;
        min-height: 427px !important;

        h2.et_pb_slide_title {
          position: absolute;
          bottom: -199px;
          font-size: 26px;
          color: $font-color-dark !important;
          text-shadow: none;

          @media screen and (min-width: 1118px) and (max-width: 1429px) {
            font-size: 22px;
          }
        }

        .et_pb_more_button {
          bottom: -199px;
          margin-top: 0;
          position: absolute;
          right: 0;

          &:after {
            line-height: 0.7em;
          }

          @media screen and (min-width: 1118px) and (max-width: 1299px) {
            display: none;
          }
        }

        .et_pb_button {
          border-color: $font-color-secondary !important;
          color: $font-color-secondary !important;
        }
      }

      .home__slider__image {
        @media screen and (max-width: 1117px) {
          display: none;
        }
      }
    }
  }
}
/** End slider */

/** Calls to action */
.et_boxed_layout #page-container .home__calls_to_action {
  padding: 0;

  .et_pb_row {
    padding: 0;
    width: 100%;

    .et_pb_column_1_3 {
      margin-right: 0;
      width: 33.333%;

      @media screen and (min-width: 1550px) {
        width: 390px;
      }

      @media screen and (max-width: 980px) {
        margin-bottom: 0;
      }
    }

    .et_pb_column .et_pb_promo_button {
      @include ffl-button();

      margin-top: 20px;
    }
  }
}
/** End calls to action */


/** Specials */
.home__latest-specials .et_pb_fullwidth_header .et_pb_fullwidth_header_container {
  .header-content {
    margin: 0 auto;
    padding: 0px;
  }

  h1 {
    @include font-family-primary-bold();

    color: $font-color-primary !important;
    font-size: 40px;
    text-transform: uppercase;
  }
}

.home__specials__call-to-action .et_pb_promo_button {
  @include ffl-button($font-color-secondary);
}

.home__specials {
  color: $font-color-dark;
  font-size: 18px;
  line-height: 30px;
  width: 70%;
}
/** End specials */

/** News signup and food detective */
.et_boxed_layout #page-container .home__enews__food-detective {
  padding: 0;

  .et_pb_row {
    margin: 0;
    width: 100%;

    @media screen and (max-width: 980px) {
      padding: 0;
    }
  }

  .et_pb_column {
    height: 400px;
    padding: 40px;
  }

  .home__enews__food-detective__heading {
    @include font-family-primary-bold;

    color: $font-color-primary !important;
    font-size: 30px;
    height: 90px;
    line-height: 1.1em;
    margin: 0 auto;
    padding-bottom: 20px;
    text-transform: uppercase;

    p {
      padding-bottom: 0;
    }
  }

  .et_pb_promo {
    max-width: 50%;

    @media screen and (max-width: 479px),
                      (min-width: 981px) and (max-width: 1269px) {
      max-width: 65%;
    }
  }

  .ninja-forms-cont {
    padding-top: 20px;

    .ninja-forms-success-msg {
      p {
        padding-bottom: 0;

        &:first-child,
        &:last-child {
          display: none;
        }
      }
    }

    form.ninja-forms-form {
      .field-wrap {
        margin: 10px 0 20px 0;
      }

      .ninja-forms-required-items {
        display: none;
      }

      .ninja-forms-field-error {
        display: none !important;
      }

      label {
        @include font-family-primary-bold;
        color: $font-color-primary;
        display: block;
        float: left;
        font-size: 18px;
        line-height: 38px;
        margin-right: 2%;
        text-align: center;
        text-transform: uppercase;
        width: 23%;

        .ninja-forms-req-symbol {
          display: none;
        }
      }

      .ninja-forms-field {
        &[type=text],
        &[type=email] {
          background-color: #e7ded0;
          border: 0 none;
          display: block;
          float: left;
          line-height: 28px;
          padding: 5px 10px;
          width: 70%;
        }

        &.et_pb_button {
          width: 46%;

          &:hover {
            padding: 0.5em 2.2em;
          }
        }
      }
    }
  }
}
/** End news signup and food detective */

/** Our brands */
.our-brands__heading {
  @include font-family-primary-bold();

  color: $font-color-secondary;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
}
/** End our brands */
