@mixin font-family-primary-regular() {
  font-family: $font-family-primary;
}

@mixin font-family-primary-bold() {
  @include font-family-primary-regular();
  font-weight: 700;
}

@mixin font-family-primary-semibold() {
  @include font-family-primary-regular();
  font-weight: 600;
}

@mixin primary-button($color: $font-color-primary) {
  @include font-family-primary-bold();

  border-color: $color;
  color: $color;
  font-size: 14px;
  margin-top: 29px;
  padding: 0.5em 2.2em;
  text-transform: uppercase;

  &:after {
    line-height: 0.7;
  }
}
