.nav li {
  line-height: 1.8em;
}

.et-fixed-header #top-menu li li a,
#top-menu li li a {
  font-size: 14px;
  font-weight: normal;
}

.nav ul li a:hover,
.et_mobile_menu li a:hover {
  background-color: rgba(0, 0, 0, 0.09);
}

@media (min-width: 981px) {
  .et_vertical_nav #main-header .container {
    margin: 0 30px;
  }
}

#et-top-navigation .ffl-contact {
  display: none;
}

@media screen and (min-width: 981px) {
  #et-top-navigation {
    .ffl-contact {
      display: block;

      .phone {
        border-bottom: 1px solid #d2c9ba;
        border-top: 1px solid #d2c9ba;
        color: #562700;
        display: block;
        font-size: 20px;
        margin-bottom: 10px;
        padding: 15px 0;
        text-align: center;

        img {
          vertical-align: middle;
          padding-right: 10px;
        }
      }

      .catering {
        border-bottom: 1px solid #d2c9ba;
        padding-bottom: 15px;
        text-align: center;

        strong {
          color: #562700;
          display: block;
          font-size: 11px;
          margin-bottom: 15px;
        }

        img {
          vertical-align: middle;
          padding-right: 10px;
        }

        a {
          background-color: #e3dacb;
          border-radius: 4px;
          color: #562700;
          font-size: 10px;
          padding: 5px 10px;
        }
      }

      .opening {
        padding-top: 20px;
        h1 {
          @include font-family-primary-bold();

          color: $font-color-secondary;
          font-size: 20px;
          text-transform: uppercase;
        }

        address {
          color: #562700;
          font-size: 11px;
          font-style: normal;
          line-height: 14px;

          a {
            color: #562700;
            font-size: 10px;
            text-decoration: underline;
          }
        }
      }
    }
  }
}

#footer-widgets .footer-widget .social,
.social {
  margin-top: 20px;

  ul {
    list-style-type: none;

    li {
      background-color: $font-color-secondary;
      border-radius: 18px;
      display: block;
      float: left;
      font-size: 24px;
      height: 36px;
      line-height: 36px;
      margin-right: 6px;
      text-align: center;
      width: 36px;

      &:hover {
        background-color: lighten($font-color-secondary, 5%);
      }

      &:last-child {
        margin-right: 0;
      }

      a {
        color: #faf7f2;
      }
    }
  }
}

// Footer social icon-specific styles
#footer-widgets .footer-widget .social {
  margin-top: 0;

  ul li {
    background-color: #e7ded0;

    &:hover {
      background-color: darken(#e7ded0, 5%);
    }

    a {
      color: $font-color-secondary;
    }
  }
}
