/** Font utility classes */
.primary-font {
  @include font-family-primary-regular();
}

.primary-font-bold {
  @include font-family-primary-bold();
}

.primary-font-semibold {
  @include font-family-primary-semibold();
}

.font-primary-color {
  color: $font-color-primary;
}

.font-secondary-color {
  color: $font-color-secondary;
}

.font-dark-color {
  color: $font-color-dark;
}

.page__heading {
  .et_pb_fullwidth_header {
    min-height: 265px;
    padding-top: 110px;

    h1 {
      @include heading($font-color-primary);
      @include heading-uppercase();

      letter-spacing: 0.02em;
      text-align: center;
    }
  }
}

.page__subheading {
  background-color: $font-color-secondary;

  @media screen and (min-width: 981px) {
    padding: 20px 0 !important;
  }

  .et_pb_row .et_pb_column .et_pb_text {
    color: $font-color-primary !important;
    font-size: 20px;
    line-height: 1.3em;
    letter-spacing: 0.02em;
    width: 67%;

    a {
      color: $font-color-primary !important;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
/** End font utility classes */
