/** Font utility classes */
.primary-font {
  @include font-family-primary-regular();
}

.primary-font-bold {
  @include font-family-primary-bold();
}

.primary-font-semibold {
  @include font-family-primary-semibold();
}

.font-primary-color {
  color: $font-color-primary;
}

.font-secondary-color {
  color: $font-color-secondary;
}

.font-dark-color {
  color: $font-color-dark;
}

.page__heading h1 {
  @include heading($font-color-primary);
  @include heading-uppercase();

  text-align: center;
}

.page__subheading {
  background-color: $font-color-secondary;

  .et_pb_row .et_pb_column .et_pb_text {
    color: $font-color-primary !important;
    font-size: 20px;
    line-height: 1.6em;
    width: 67%;
  }
}
/** End font utility classes */
